In [13]:
import pandas as p

In [15]:
a = p.read_csv("student_grades.csv")

In [16]:
a.head()

      Student  Grade
0  John Smith     80
1  Jane Smith     75
2    John Doe     65
3    Jane Doe     90